<div id="adjustment" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!--&lt;!&ndash; SIDENAV &ndash;&gt;-->
    <!--<md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"-->

    <!--ng-include="'app/main/adjustment/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>-->
    <!--</md-sidenav>-->
    <!--&lt;!&ndash; / SIDENAV &ndash;&gt;-->

    <!-- CENTER -->
    <div ng-switch-when="default" class="center" layout="column" flex>
        <!-- CONTENT HEADER- V NAV-->
        <div layout="column" layout-align="start start">
            <div class="v-header" layout="column" flex fill-width>
                <div class="title" layout="column" layout-align="center start" ng-if="!themeDuoworld">
                    <div class="logo" layout="row" layout-align="start center">
                        <span class="logo-icon title-adjustment"></span>
                        <span class="logo-text">Adjustments</span>
                    </div>
                </div>
                <div layout="row">
                    <div class="title" layout="column" layout-align="center start" ng-if="themeDuoworld">
                        <div class="logo" layout="row" layout-align="start center">
                          <span class="logo-icon logo-icon-adjustment"></span>
                          <span class="logo-text">Adjustments</span>
                        </div>
                    </div>
                    <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex ng-class="{'op-5':vm.activeAdjustmentPaneIndex == 1}">
                        <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md aria-label="Toggle Sidenav">
                            <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                        </md-button>

                        <div class="search" flex layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                            <input ng-disabled="vm.activeAdjustmentPaneIndex == 1" flex ng-model="vm.search" type="text" ng-change="searchAdjustmentByKeyWord(vm.search)" placeholder="Search for coupons">
                        </div>
                    </div>
                    <md-button class="md-raised md-accent main-app-create" layout="row" layout-align="center center" aria-label="compose" ng-disabled="vm.activeAdjustmentPaneIndex == 1" ng-click="vm.addAdjustmentDialog('open')" ng-if="!inpageReadPaneEdit"><span class="fs-18 mr-10">+</span> NEW
                    </md-button>
                </div>
            </div>
            <!--<div class="v-nav">-->
            <!--<div ng-include="'app/main/plans/sidenavs/main/main-sidenav.html'"></div>-->
            <!--</div>-->

        </div>
        <!-- / CONTENT HEADER -->
        <!--&lt;!&ndash; CONTENT HEADER &ndash;&gt;-->
        <!--<div class="header" layout="row" layout-align="start center" ng-if="vm.activeAdjustmentPaneIndex === 0">-->

        <!--<div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>-->
        <!--<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md-->
        <!--aria-label="Toggle Sidenav">-->
        <!--<md-icon class="icon" md-font-icon="icon-menu"></md-icon>-->
        <!--</md-button>-->

        <!--<div class="search" flex layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>-->
        <!--<input flex ng-model="vm.search" type="text" ng-change="searchAdjustmentByKeyWord(vm.search)" placeholder="Search for Adjustments">-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash; / CONTENT HEADER &ndash;&gt;-->

        <div layout="row" flex>
            <!-- CONTENT CARD -->
            <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>

                <!-- PRODUCT VIEW PANE TOOLBAR -->
                <!--<div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeAdjustmentPaneIndex === 1">-->
                <!--<md-button class="md-icon-button"-->
                <!--ng-click="vm.closeReadPane()"-->
                <!--aria-label="Back">-->
                <!--<md-icon md-font-icon="icon-keyboard-backspace"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activeAdjustmentPaneIndex === 0">
                    <div ng-include="'app/main/adjustment/views/list/list-header.html'" layout="row" flex layout-align="start center"></div>
                </div>
                <div class="toolbar" layout="row" layout-align="end center" ng-if="vm.activeAdjustmentPaneIndex === 1">
                    <md-button class="md-icon-button" style="margin-right: -10px"
                               ng-click="vm.addAdjustmentDialog('close')"
                               aria-label="Back">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / PRODUCT VIEW PANE TOOLBAR -->

                <!-- CONTENT TOOLBAR -->
                <!--<div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activeAdjustmentPaneIndex === 0">-->
                <!--<div layout="row" flex layout-align="start center" style="padding-left: 0px;">-->
                <!--<div class="info" flex layout="row" style="height: 40px">-->

                <!--&lt;!&ndash;<div class="prodMainInfo" layout="column" layout-align="center start" style="width: 190px;">&ndash;&gt;-->
                <!--<div class="productName" layout="column" layout-align="center start" flex>-->
                <!--<div layout="row">-->
                <!--<span layout="column" layout-align="center center">Adjustment ID</span>-->
                <!--<div layout="column" layout="center center">-->
                <!--<md-button ng-hide="showId" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('customer',true,'ID')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--<md-button ng-show="showId" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('customer',null,'ID')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="productName" layout="column" layout-align="center start" flex>-->
                <!--<div layout="row">-->
                <!--<span layout="column" layout-align="center center">Created Date</span>-->
                <!--<div layout="column" layout="center center">-->
                <!--<md-button ng-hide="showDate" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('createdDate',true,'Date')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--<md-button ng-show="showDate" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('createdDate',null,'Date')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="productName" layout="column" layout-align="center start" flex>-->
                <!--<div layout="row">-->
                <!--<span layout="column" layout-align="center center">Adjustment Type</span>-->
                <!--<div layout="column" layout="center center">-->
                <!--<md-button ng-hide="showType" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('adjustmenttype',true,'Type')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--<md-button ng-show="showType" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('adjustmenttype',null,'Type')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="productName" layout="column" layout-align="center end" flex="10">-->
                <!--<div layout="row">-->
                <!--<span layout="column" layout-align="center center">Amount</span>-->
                <!--<div layout="column" layout="center center" style="margin-right: -13px">-->
                <!--<md-button ng-hide="showAmt" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('amount',true,'Amt')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--<md-button ng-show="showAmt" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('amount',null,'Amt')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT WRAPPER -->
                <div class="content-wrapper" layout="row" flex>

                    <md-tabs md-selected="vm.activeAdjustmentPaneIndex" class="content-tabs" md-dynamic-height="{{vm.dynamicHeight}}"
                             flex>
                        <md-tab>
                            <md-tab-label>Adjustment List Pane</md-tab-label>
                            <md-tab-body>
                                <!-- PRODUCT LIST PANE -->
                                <div class="preloader" layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.listLoaded">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                                <div class="content main-list-pane"
                                     ng-include="'app/main/adjustment/views/list/list-view.html'" ms-scroll>
                                </div>
                                <!-- / PRODUCT LIST PANE -->
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label>Adjustment Display Pane</md-tab-label>
                            <md-tab-body >
                                <!-- PRODUCT DISPLAY PANE -->
                                <div class="content adjustment-display-pane mb-50"
                                     ng-include="'app/main/adjustment/views/read/read-view.html'" ms-scroll>
                                </div>
                                <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar fixed">
                                    <md-progress-circular class="gen-save-indicator" ng-if="isSaveClicked"></md-progress-circular>
                                    <md-button ng-click="clearForm()">Clear</md-button>
                                    <md-button ng-disabled="isSaveClicked" type="submit" form="adjustmentForm" class="md-raised md-accent">SAVE</md-button>
                                </div>
                                <!-- / PRODUCT DISPLAY PANE -->
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>

                </div>
                <!-- / CONTENT WRAPPER -->

            </div>
            <!-- / CONTENT CARD -->

            <!--INPAGE READ PANE-->
            <div flex class="inpage-readpane" layout="column" md-whiteframe="4dp" ng-if="showInpageReadpane">
                <div layout="row" layout-align="space-between center" class="inpage-readpane-toolbar">
                    <h3 class="group-sub-head" layout="row" layout-align="start center">Adjustment info</h3>
                    <div layout="row">
                        <md-menu>
                            <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-menu"></md-icon>
                                <md-tooltip>Invoice action</md-tooltip>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button aria-label="Send Mail" ng-click="emailInvoice($event,'print-content')">
                                        <md-icon md-font-icon="icon-email"></md-icon>
                                        <span>Email</span>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button aria-label="Save to PDF" ng-click="printDiv('print-content')">
                                        <md-icon md-font-icon="icon-printer"></md-icon>
                                        <span>Print</span>
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button" ng-click="vm.closeInfoPane()">
                            <md-icon md-font-icon="icon-close"></md-icon>
                            <md-tooltip>Close</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <div class="preloader animate-fade-in-out" ng-if="!isReadLoaded" style="top: 35px;">
                    <md-progress-circular></md-progress-circular>
                </div>
                <md-content flex ms-scroll layout="column" layout-align="start center" class="inpage-readpane-body" ng-if="!inpageReadPaneEdit">
                    <!--<div layout="row" layout-align="space-between center">-->
                    <!--<div layout="row" layout-align="start center">-->
                    <!--<div layout="column" layout-align="center start">-->
                    <!--<div class="fs-20 font-accent fw-400">{{vm.selectedPlan.code}}</div>-->
                    <!--<div layout="row" class="op-5">-->
                    <!--<span>by {{vm.selectedPlan.createdUser}}</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="ml-20">-->
                    <!--<span class="pill" layout="row" layout-align="center center" ng-class="{'negative':vm.selectedPlan.status==='Inactive','positive':vm.selectedPlan.status==='Active'}">{{vm.selectedPlan.status}}</span>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<md-button ng-click="getEmbededPlanForm(vm.selectedPlan)" class="embed-btn md-raised font-accent h-30 lh-32" layout="row" layout-align="center center">Embed <md-icon md-font-icon="icon-share" class="fs-20 font-accent w-20 h-20 m-0 lh-18"></md-icon><md-tooltip>Get embeddable form</md-tooltip></md-button>-->
                    <!--</div>-->
                    <!--<md-divider class="mt-10 mb-20"></md-divider>-->
                    <!-- INVOICE -->
                    <div id="print-content" md-whiteframe="1dp" style="min-height: 800px"></div>
                    <!-- / INVOICE -->

                    <!-- Use the following element to add breaks to your pages -->
                    <!-- This will make sure that the section after this element will be printed on a new page -->
                    <div class="page-break"></div>
                </md-content>
            </div>
            <!-- / INPAGE READ PANE-->
        </div>

    </div>
    <!-- / CENTER -->
    <!-- / CONTENT CARD -->

</div>
